@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
*{font-family: 'Oswald', sans-serif;}

a:hover{
    color: black;
}

.list-items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

h1{
    text-shadow: #30F2DF 1px 0 20px;
}

a{
    text-decoration: none;
}

body{
    margin: 0;
    padding: 0;
    font-size: 16px;
}

main{
    padding: 16px;
}

footer{
    top: 24px;
    bottom: 24px;
    left: 0px;
    right: 0px;
    padding: 25px;
    font-size: x-large;
}

img{
    height: 200px;
}

nav{
    border-bottom: black 1px;
    padding: 16px;
}

.ingredients-table tr:nth-child(even){
    background-color: rgba(0, 0, 0, 0.1);
}
